* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  letter-spacing: 1px;
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #389189;
}
.App h1 {
  margin-left: 75px;
}
.container {
  margin: 30px auto;
  max-width: 400px;
  position: relative;
}
.todoList-container {
  display: flex;
  flex-direction: column;
}
.todoList-wrapper {
  margin-bottom: 20px;
}
.task {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  display: flex;
  position: relative;
  padding: 0 10px;
  margin: 10px 0;
  width: 150%;
  line-height: 2em;
}
#word,
.hashtag {
  margin-right: 2px;
}

#completed {
  background-color: rgb(223, 215, 215);
}
#notcompleted {
  background-color: #fff;
}
.hashtag {
  color: coral;
}
.hashtag:hover {
  cursor: pointer;
  color: blue;
}

.show-all-todos {
  cursor: pointer;
  background-color: #61cac1;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  margin-left: 110px;
  padding: 10px;
  width: 80%;
}

.todo-form {
  display: flex;
  flex-direction: column;
}
.todo-input {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 150%;
}

.add-task {
  cursor: pointer;
  background-color: #61cac1;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 150%;
}
.removeButton {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.task:hover .removeButton {
  opacity: 1;
}
.complete-Button {
  cursor: pointer;
  background-color: green;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: -27.5%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.task:hover .complete-Button {
  opacity: 1;
}
.reset {
  cursor: pointer;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 0%;
  left: 200%;
  transform: translate(-100%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}
